.profile-layout {
    width: 400px;
    min-height: 500px;
    margin-left: 30%;
    margin-top: 50px;
    border: 1px solid #ddd;
}

.profile-change-layout {
    max-width: 450px;
    height: 520px;
    border: 1px solid #ddd;
    margin-left: 28%;
    margin-top: 50px;
}

.password-change-layout {
    width: 430px;
    margin-left: 33%;
    border: 1px solid #ddd;
}

.profile-form {
    height: 600px;
}

.profile-thumbnail {
    margin: 15px 0px 15px 0px;
    text-align: center;
}

.profile-text, .profile-change-text, .password-change-text {
    text-align: center;
    margin-top: 10px;
}

.profile-wrap {
    height: 40px;
}

.profile-box {
    padding-left: 60px;
    font-size: 16px;
}

.profile-intro-box {
    padding-left: 64px;
}

.user-inform-2 {
    padding-left: 30px;
    font-size: 17px;
}

.user-inform-3 {
    text-align: left;
    padding-left: 30px;
}

.user-inform-4 {
    text-align: left;
    padding-left: 17px;
}

.user-inform-old-password {
    margin-left: 18px;
}

.user-inform-new-password1 {
    margin-left: 31px;
}

.user-inform-new-password2 {
    margin-left: 2px;
}

.user-intro {
    border: 1px solid #ddd;
    width: 270px;
    min-height: 80px;
}

.profile-btn-list {
    text-align: center;
    padding-top: 20px;
}

.profile-change-wrap {
    height: 50px;
    padding: 20px;
    padding-left: 90px;
    text-align: left;
    font-size: 15px;
}

.password-change-wrap {
    padding: 5px 0px 0px 18%;
    font-size: 15px;
}

.change-thumbnail {
    text-align: center;
}

#id_profile_thumbnail {
    padding-left: 26%;
}

.profile-change-intro-wrap {
    text-align: center;
    font-size: 15px;
    padding: 20px 0;
}

label[for=id-profile-username] {
    font-size: 17px;
}

label[for=id-profile-email] {
    font-size: 17px;
}

label[for=id-old-password] {
    font-size: 16px;
}

label[for=id-new-password] {
    font-size: 16px;
}

label[for=id-new-password-confirm] {
    font-size: 16px;
}

label[for=id-profile-intro] {
    font-size: 17px;
}

label[for=id-profile-change-thumbnail] {
    text-align: center;
    font-size: 17px;
    width: 448px;
}

#id_about {
    height: 100px;
}

.profile-change-btn {
    padding-top: 20px;
    text-align: center;
}

.password-change-btn {
    text-align: center;
    margin: 20px;
}

.password-help-text {
    height: 100px;
    padding: 20px 0px 0px 50px;
    text-align: left;
    margin-bottom: 10px;
    color: #9d9d9d;
}

#id_password {
    float: right;
    margin-right: 60px;
}

.login-btn {
    margin: 0px 41% 20px;
}

label[for=id-login-username] {
    margin-left: 14%;
    font-size: 17px;
}

label[for=id-password] {
    margin-left: 14%;
    font-size: 17px;
}

.signup-layout {
    max-width: 400px;
    border: 1px solid #ddd;
    margin: 50px auto;
}

.login-layout {
    max-width: 400px;
    border: 1px solid #ddd;
    margin-left: 33%;
    margin-top: 50px;
}

.login-row, .post-form-row, .profile-row {
    min-height: 600px;
}

.signup-wrap {
    padding: 5px 16px;
    text-align: left;
    font-size: 16px;
}

.login-wrap {
    padding: 13px 30px;
    text-align: left;
    font-size: 16px;
}

.errorlist {
    padding: 5px 0 0 130px;
}

.signup-box {
    width: 100%;
    padding: 10px 0 0 50px;
}

.login-box {
    width: 100%;
}

.signup-text, .login-text, .post-form-text {
    text-align: center;
    margin-top: 10px;
}

.signup-btn {
    height: 70px;
    margin: 20px 41% 0;
}

#id_username, #id_email, #id_password1, #id_password2 {
    float: right;
    margin: -2px 60px 0px 0px;
}

label[for=id-profile-thumbnail] {
    margin-left: 40%;
}

.signup-thumbnail-box {
    padding: 20px 0 0;
}