.container-fluid {
    padding: 0px;
}

a {
    text-decoration: none !important;
}
.col-xs-6 {
    height: 350px;
}

.navbar-brand {
    padding: 15px 20px 20px 20px;
}

.nav-thumbnail {
    display: inline-block;
    width: 50px;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.footer-box {
    position: relative;
    padding-left: 150px;
    height: 50px;
}

.page-wrap {
    min-height: 900px;
}

.page_error {
    text-align: center;
}

.menu {
    margin-top: 4px;
}