{% extends 'post/layout.html' %}
{% load static %}

{% block content %}
    <div class="col-sm-9">
        <div class="detail-title">
            <span class="title">{{ post.title }}</span>
            <a href="{% url "post:post_list" %}" class="back-site">뒤로가기</a>
        </div><hr/>
        <div class="content">
            <span class="picture">
                {% if post.post_thumbnail %}
                    <img src="{{ post.post_thumbnail.url }}" class="post_thumbnail"/>
                {% endif %}
            </span>
            <div class="text">
                <h4>{{ post.content }}</h4>
            </div>
        </div>
        <div class="post_manage">
            {{ post.created_at }}
            <p>작성자 : {{ post.user }}</p>

            {% if post.user == user %}
                <a href="{% url "post:post_edit" post.id %}" class="btn btn-default">수정</a>
                <form action="{% url "post:post_delete" post.id %}" method="POST" class="post_delete">
                    {% csrf_token %}
                <button type="submit" class="btn btn-default" onclick="return confirm('삭제하시겠습니까?')">삭제</button>
                </form>
            {% endif %}

        </div>

        {% if user.is_authenticated %}
            <form action="{% url "post:comment_new" post.id %}" method="POST" class="comment-input">
                {% csrf_token %}
                <img src="{{ user.profile.profile_thumbnail.url }}" class="comment-thumbnail"/>
                {{ comment_form.content }}
                <input type="submit" value="등록" class="btn btn-default comment-submit">
            </form>
        {% endif %}

        {% if post.comments.all %}
            <table class="table table-hover">
                <tr>
                    <th>작성자</th>
                    <th>내용</th>
                    <th>작성일</th>
                    <th></th>
                </tr>
                {% for comment in post.comments.all %}
                    <tr>
                        <td>{{ comment.author }}</td>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.created_at }}</td>
                        <td>
                        {% if comment.author == user %}
                            <form action="{% url "post:comment_delete" post.id comment.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="삭제" class="btn btn-default" onclick="return confirm('삭제하시겠습니까?')">
                            </form>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if category %}
            <table class="table table-hover category-table">
                <tr>
                    <th>'{{ post.category }}' 카테고리의 다른 글</th>
                    <th></th>
                </tr>
                {% for post_list in category %}
                    <tr>
                        <td><a href="{% url "post:post_detail" post_list.id %}">{{ post_list.title }}</a></td>
                        <td>{{ post_list.created_at }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
            <a href="{% url "post:post_list" %}" class="list-group-item active"><span class="badge">{{count}}</span> 전체글</a>
            {% if user.is_authenticated %}
                <a href="{% url "post:my_post_list" %}" class="list-group-item"><span class="badge">{{count1}}</span>내 게시글</a>
            {% endif %}
            <a href="#" class="list-group-item disabled">카테고리</a>
            {% for category in category_list %}
                <a href="{% url "post:category_post_list" category.id %}" class="list-group-item">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div><!--/.sidebar-offcanvas-->
{% endblock %}