{% extends 'post/layout.html' %}
{% load el_pagination_tags %}

{% block content %}
<h1>글 목록</h1>

{% if user.is_authenticated %}
    <a href="{% url "post:post_new" %}">글쓰기</a>
    <a href="{% url "post:my_post_list" %}">내글 보기</a>
    <a href="{% url "post:post_list" %}">전체글 보기</a><hr/>
    <form action="" method="get">
        <input type="text" placeholder="검색할 단어를 입력해주세요." name="search" value="{{search}}">
        <input type="submit" value="검색">
    </form>
{% endif %}

<table>
    <thead>
        <span><tr> 번호 </tr></span>
        <span><tr> 글쓴이 </tr></span>
        <span><tr> 제목 </tr></span>
        <span><tr> 내용 </tr></span>
        <span><tr> 날짜 </tr></span>
    </thead>
    <tbody>
        {% paginate post_list %}
        {% for post in post_list %}
        <tr>
            <td><a href="{% url "post:post_detail" post.id %}">{{ post.id }}</td>
            <td>{{ post.user }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.content }}</td>
            <td>{{ post.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% show_pages %}
{% endblock %}