{% extends 'post/layout.html' %}
{% load static %}
{% block content %}
        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron">
                <h1>백그라운드 이미지</h1>
                <p>소개글</p>
            </div>
            <div class="row">
                {% for post in post_list %}
                    <div class="col-xs-6 col-lg-4">
                        <a href="{% url "post:post_detail" post.id %}">
                            {% if post.post_thumbnail %}
                                <img src="{{ post.post_thumbnail.url }}"/>
                            {% else %}
                                <img src="{% static "images/default_post.jpg" %}"/>
                            {% endif %}

                            <p><h5>{{ post.title }}</h5></p>
                            <p><h5>{{ post.user }}님 | {{ post.created_at }}</h5></p>
                        </a>
                    </div>
                {% endfor %}
            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
{% endblock %}