{% extends 'post/layout.html' %}
{% load static %}
{% block content %}
    <h1><p>{{ post.title }}</p></h1>

    {% if post.user.profile.profile_thumbnail %}
        <img src="{{ post.user.profile.profile_thumbnail.url }}"/>
    {% else %}
        <img src="{% static 'default.jpeg' %}"/>
    {% endif %}

    <p>작성자 : {{ post.user }}</p><hr/>
    <p>{{ post.content }}</p>

    {% if post.post_thumbnail %}
        <p><img src="{{ post.post_thumbnail.url }}"/></p>
    {% endif %}

    <p>{{ post.updated_at }}</p><hr/>

    {% if post.comments.all %}
        <table>
            <thead>
            <tr>
                <th>내용</th>
                <th>작성자</th>
                <th>작성일</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for comment in post.comments.all %}
                <tr>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.created_at }}</td>
                    <td>
                    {% if comment.author == user %}
                        <form action="{% url "post:comment_delete" post.id comment.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="삭제" onclick="return confirm('삭제하시겠습니까?')">
                        </form>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table><hr/>
    {% endif %}

    {% if user.is_authenticated %}
        <form action="{% url "post:comment_new" post.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form.content }}
            <input type="submit" value="등록">
        </form>
    {% endif %}

    {% if post.user == user %}
        <a href="{% url "post:post_edit" post.id %}" method="POST">글 수정</a>
        <form action="{% url "post:post_delete" post.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제" onclick="return confirm('삭제하시겠습니까?')">
        </form>
    {% endif %}

    <a href="{% url "post:post_list" %}">뒤로 가기</a>
{% endblock %}