{% extends 'post/layout.html' %}

{% block content %}
<table>
    <p>{{ post.title }}</p><hr/>
    <p>{{ post.content }}</p>
    {% if post.post_thumbnail %}
        <p><img src="{{ post.post_thumbnail.url }}"/></p>
    {% endif %}
    <p>{{ post.updated_at }}</p>
    <form action="{% url "post:post_delete" post.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제" onclick="return confirm('삭제하시겠습니까?')">
    </form>
    <button><a href="{% url "post:post_edit" post.id %}" methods="POST">글 수정</a></button>
</table>

{% endblock %}