container_commands:
  01_migrate:
    command: "python3 manage.py migrate"
  02_collectstatic:
    command: "python3 manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: myblog.settings.prod
  aws:elasticbeanstalk:container:python:
    WSGIPath: myblog/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
    "/media/": "media/"
