{% extends 'accounts/layout.html' %}

{% block content %}
    <div class="row signup-row">
        <div class="signup-layout">
            <form action="" method="POST" class="signup-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="signup-text">
                    <h1>Sign Up</h1>
                </div>
                <div class="signup-wrap">
                    <div class="signup-box">
                        <label for="id-username">아이디</label>
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                </div>
                <div class="signup-wrap">
                    <div class="signup-box">
                        <label for="id-email">이메일</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                </div>
                <div class="signup-wrap">
                    <div class="signup-box">
                        <label for="id-password1">비밀번호</label>
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                    </div>
                </div>
                <div class="signup-wrap">
                    <div class="signup-box">
                        <label for="id-password2">비밀번호 확인</label>
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                    </div>
                </div>
                <div class="signup-wrap">
                    <div class="signup-thumbnail-box">
                        <label for="id-profile-thumbnail">프로필 사진</label>
                        {{ form.profile_thumbnail }}
                    </div>
                </div>
                <div class="signup-btn">
                    <button class="btn btn-default complete-btn" type="submit">회원가입</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}