container_commands:
  01_migrate:
    command: "python3 manage.py migrate"
  02_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
  03_chmod_sqlite:
    command: "chmod 666 db.sqlite3"
  04_create_superuser:
    command: "python3 create_superuser.py"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: myblog.settings.common
  aws:elasticbeanstalk:container:python:
    WSGIPath: myblog/wsgi/debug.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "staticfiles/"