<script>
    //////////// 리스트 무한 스크롤 ////////////
    $(window).scroll(function(){
        var diff = $(document).height() - $(window).height();
        var page = $('#page').val();
        var end_page = {{ post_list.paginator.num_pages }};
        if(page > end_page){
            return ;
        }
        if($(window).scrollTop() == diff){
            callMorePostAjax(page);
            $("#page").val(parseInt(page) + 1);
        }
    });
    function callMorePostAjax(page){
        $.ajax({
            type: 'POST',
            {% if kind == 'my' %}
                url: "{% url 'post:my_post_list' %}",
            {% elif kind == None %}
                url: "{% url 'post:post_list' %}",
            {% elif kind == category_id %}
                url: "{% url 'post:category_post_list' category_id=kind %}",
            {% endif %}
            data: {
                'page': page
            },
            dataType: 'html',
            success: function(data, textStatus, jqXHR) {
                $('#post_list_ajax').append(data);
            },
            error: function(request, status, error) {
                alert('스크롤에 문제가 발생했습니다.');
            }
        });
    }
</script>