.jumbotron {
    background-image: url("/static/images/default_jumbotron.png");
    height: 200px;
    width: 833px;
}

.pull-right {
    margin-top: 100px;
    margin-right: -50px;

}

.post_new {
    margin-right: 5px;
    margin-top: 6px;
  }

.form-inline {
    float: right;
}

.glyphicon-search {
    font-size: 20px;
    height: 34px;
    top: 6px;
}