.col-sm-9 {
    border: 1px solid #ddd;
}

.detail-title {
    text-align: center;
    margin-top: 20px;
}

.content {
    min-height: 300px;
    padding: 5px;
}

.post_thumbnail {
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}

.user_thumbnail {
    float: right;
    width: 70px;
}

.post_manage {
    text-align: right;
    padding: 5px;
}

.post_delete {
    float: right;
    margin-left: 6px;
}

.comment-form {
    width: 600px;
    height: 100px;
}

.comment-submit {
    height: 100px;
    margin-top: -90px;
}

.comment-input {
    height: 130px;
}

.comment-thumbnail {
    display: inline-block;
    width: 100px;
    padding: 4px;
    margin-top: -90px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.category-table {
    border: 1px solid #ddd;
    margin-top: 10px;
}

.title {
    font-size: 28px;
}

.back-site {
    float: right;
    font-size: 16px;
    margin-top: 8px;
}

.post-form-layout {
    max-width: 450px;
    border: 1px solid #ddd;
    margin-left: 28%;
    margin-top: 50px;
    height: 530px;
}

.post-form-input-wrap {
    height: 250px;
    padding: 20px 50px 20px 20px;
    text-align: left;
    font-size: 15px;
}

.post-form-wrap {
    height: 50px;
    padding: 20px;
    text-align: left;
    font-size: 15px;
}

.post-form-content {
    padding-left: 8%;
}

.post-form-thumbnail-wrap {
    height: 50px;
    padding-top:10px
}

#id_title {
    float: right;
    margin-right: 100px;
}

#id_category {
    float: right;
    margin-right: 100px;
}

#id_post_thumbnail {
    margin-left: 29%;
}

label[for=id-title] {
    margin-left: 20%;
    font-size: 17px;
}

label[for=id-category] {
    margin-left: 20%;
    font-size: 17px;
}

label[for=id-post-thumbnail] {
    margin-left: 44%;
    font-size: 17px;
}

.post-form-btn {
    text-align: center;
}

.jumbotron {
    background-image: url("/static/images/default_jumbotron.png");
    height: 200px;
    width: 833px;
}

.pull-right {
    margin-top: 100px;
    margin-right: -50px;
}

.post_new {
    margin-right: 5px;
    margin-top: 6px;
}

.form-inline {
    float: right;
}

.glyphicon-search {
    font-size: 20px;
    height: 34px;
    top: 6px;
}

.list-title {
    height: 23px;
}

.comment-table {
    margin: 5px;
}

.comment-delete, .ajax-post-confirm {
    text-decoration: none !important;
}

#load-more-btn {
    margin: 15px 0px 15px 44%;
}

.divTable{
	display: table;
	width: 100%;
}

.divTableRowHeader {
	display: table-row;
    height: 26px;
}

.divTableRow {
	display: table-row;
    height: 38px;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell {
    text-align: center;
	display: table-cell;
	padding: 3px 10px;
    vertical-align: middle;
}

.divTableHead {
    text-align: center;
	display: table-cell;
	padding: 3px 10px;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}